{% extends 'src/base.html' %}
{% load static %}

{% block 'conteudo' %}
<form name="form1" class="needs-validation" method="post" action="">
      {% csrf_token %}
      <div class="row g-3">
          <div class="col-sm-6">
              <label for="nome_cliente" class="form-label" >Nome do cliente ou empresa</label>
              <input type="text" class="form-control" name="nome_cliente" id="nome_cliente">
          </div>
          <div class="col-sm-6">
              <label for="contato_cliente" class="form-label">Telefone para contato</label>
              <input type="text" class="form-control" name="contato_cliente" id="contato_cliente">
          </div>
          <div class="col-sm-12" style="padding-top: 30px;">
              <button type="submit" class="btn btn-primary btn-lg" id="enviar">Confirmar</button>
          </div>
          <div class="col-sm-12" style="padding-top: 50px;">
              <a href="/" class="btn btn-secondary btn-lg">Voltar ao menu principal</a>
          </div>
      </div>
  </form>
{% endblock %}